<h1>Places</h1>

<table class="table">
 <thead>
   <th>Name</th>
   <th>Description</th>
   <th>Lien Internet</th>
   <th>Distance (km)</th>
   <th>lng</th>
   <th>lat</th>
   <th>Time</th>
   <th>Actions</th>
 </thead>

  {{#list places}}

  <tr>
    <td>
      <a class="btn btn-secondary btn-sm" href="/places/id/{{id}}" role="button">
        {{name}}
      </a>
    </td>
    <td>
      {{description}}
    </td>
    <td>
      {{lienInternet}}
    </td>
    <td>
      {{distance}}
    </td>
    <td>
      {{lng}}
    </td>
    <td>
      {{lat}}
    </td>
    <td>
      {{time}}
    </td>
    <td>
      <a class="btn btn-outline-secondary btn-sm" href="/places/update/{{id}}" role="button">
        Update
      </a>
      <a class="btn btn-outline-danger btn-sm" href="/places/delete/{{id}}" role="button">
        Delete
      </a>
    </td>
  </tr>

  {{/list}}
</table>

<div class="text-center">
  <a class="btn btn-primary" href="/places/create" role="button">
    Add a place
  </a>
</div>