<h1>UserUpdates</h1>

<table class="table">
 <thead>
   <th>userName</th>
   <th>Derniere Estimation</th>
   <th>New Time</th>
 </thead>

  {{#list places}}

  <tr>
    <td>
      <a class="btn btn-secondary btn-sm" href="/places/id/{{id}}" role="button">
        {{name}}
      </a>
    </td>
    <td>
      {{UserName}}
    </td>
    <td>
      {{Derniere Estimation}}
    </td>
    <td>
      {{New Time}}
    </td>
  
    <td>
      <a class="btn btn-outline-secondary btn-sm" href="/places/update/{{id}}" role="button">
        Update
      </a>

    </td>
  </tr>

  {{/list}}
</table>
