<h1>Around</h1>

<div>
  <div>idPlace : {{Around.idPlace}}</div>
  <div>Lat : {{Around.Lat}}</div>
  <div>Lng : {{Around.Lng}}</div>
  <div>Latp : {{Around.Latp}}</div>
  <div>Lngp : {{Around.Lngp}}</div>
  <div>Distance: {{Around.Distance}}</div>
</div>

<div class="text-center">
  <a class="btn btn-primary" href="/arounds/create" role="button">
    Add a Around Info
  </a>
  <a class="btn btn-secondary" href="/arounds/update/{{Around.id}}" role="button">
    Update
  </a>
  <a class="btn btn-danger" href="/arounds/delete/{{Around.id}}" role="button">
    Delete
  </a>
</div>