<h1>UserUpdate</h1>

<div>
  <div>username : {{UserUpdate.username}}</div>
  <div>idPlace : {{UserUpdate.idPlace}}</div>
  <div>duration : {{UserUpdate.duration}}</div>
  <div>creation : {{UserUpdate.creation}}</div>
</div>

<div class="text-center">
  <a class="btn btn-primary" href="/UserUpdates/create" role="button">
    Add a UserUpdate
  </a>
  <a class="btn btn-secondary" href="/UserUpdates/update/{{UserUpdate.id}}" role="button">
    Update
  </a>
  <a class="btn btn-danger" href="/UserUpdates/delete/{{UserUpdate.id}}" role="button">
    Delete
  </a>
</div>